.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
    background: transparent;
}

form {
    max-width: 600px;
    width: 100%;
    background: white;
    padding: 25px 25px, 30px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgb(136, 136, 136);
    margin: 25px;
}

form .input-box {
    display: flex;
    flex-direction: column;
    margin: 20px;
    outline: none;
    box-sizing: border-box
}

form label {
    display: flex;
    justify-content: left;
}

.input-box .field {
    height: 10px;
    background-color: rgb(240, 241, 241);
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    padding: 0.5em;
    font-size: 16px;
}

.submit {
    margin: 0 0 1em 0
}
